
@import url(./fonts.css);
@import url(partials/_variables.css);
@import url(./partials/_global.css);
/* ----------------------------------------------------------------------------------------------- */
/* navigation */
.navbar-brand{
    padding-bottom : 10px;
}
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar{
    padding: 1rem 15rem;
    background-color: white;
    box-shadow: 2px 2px 10px 5px rgba(246, 246, 252, 0.5)
}
.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--mont);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}
.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* E navigation  E*/

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* banner area */

.site-main .site-banner{
    background: url(./img/girl-with-laptop-chair-freelance-studying-concept-illustration-vector_199064-194.avif) no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem;
    font-weight: 600;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    font-weight: 100;
}
.site-main .site-banner .banner-image > img{
    padding: 3rem 0;
    width: 90rem;
}
.title-text{
    font: normal bold 50px/72px var(--mont);
}
/* banner area */

/* ----------------------------------------------------------------------------------------------------- */

/* Start About area */
.site-main .about-area{
    padding: 0rem 8rem;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--mont);
    letter-spacing: 10px;
}
.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0rem;
    text-align: justify;
}
.site-main .about-area .about-image > p{
    padding: .4rem ;
    /* width: 35rem; */
}
/* End About area */

/* tools */
.single-brand>img{
    height: 90px;
    padding: 1.2rem;
    filter: saturate(0%);
}

.site-main .brand-area{
    padding: 1rem 15rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-3{
    display: flex;
    justify-content: center;
}
.site-main .brand-area .first-row .col-lg-3> .single-brand{
    border: 1px solid rgba(250, 235, 215, 0.231);
    text-align: center;
    margin: .9rem .9rem;
    width: 200px;
    cursor: pointer;
}
.site-main .brand-area .first-row .col-lg-3> .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.2);
}
.site-main .brand-area .first-row .col-lg-3> .single-brand:hover > img{
    filter: saturate(150%);
}
.site-main .brand-area .experience-area{
    padding-left: 1rem;
}
.site-main .brand-area .experience-area span{
    display: block;
}
.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px,#e029290a;
    margin: 10px;
    box-shadow: 0px 0px 35px rgba(125, 124, 124, 0.224);
    width: 400px;
    padding: 2rem 0;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}
.site-main .brand-area .experience-area .years-area .years{
    /* font: larger bold var(--mont); */
    font-size: 60px;
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    transform: translateY(-20px);
    font: normal 600 22px/30px var(--mont);
}
.site-main .brand-area .experience-area .call-area{
    padding-left: 2rem;
    display: flex;
    transform: translateY(-40px);
}
.site-main .brand-area .experience-area .call-area> .call-now{
    color: var(--primary-color);
    font: var(--mont);
}
.site-main .brand-area .experience-area .call-area> .call-now > span{
    color: var(--title-color);
}

/* tools */

/* GRID AREA */

.single-project{
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 10px black;
    margin: 40px;
}
.single-project>img{
    width: 100px;
    padding: 2rem;
}
.single-project> .content{
    color: var(--primary-color);
    padding: 2rem;
    text-align: center;
}
/* GRID AREA */

/* footer */
footer{
    background-color: rgb(229, 235, 255);
    margin-top : 100px;
}
footer> .wrap-up{
    transform: translateX(20%);
    display: flex;
    padding: 5rem;
}
footer>.wrap-up>div{
    width: 100px;
}
footer > .wrap-up > .logos > a > img{
    padding: 1rem;
    height: 70px;
}
footer > .wrap-up > .logos > a > img:hover{
    transform: scale(1.15);
    filter: brightness(120%);
}
/* footer */
/* ----------------------------------------------------------------------------------------- */